* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  width: 100%;
  background-color: rgb(213, 213, 213);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}

.header p {
  font-size: 30px;
}

.hrestik {
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-top: 10px;
}

.img-1 {
  display: flex;
  flex-direction: row;
}

.image {
  width: 50%;
}

.image img {
  width: 100%;
  height: 100%;
}

.text-in-image {
  width: 50%;
  display: flex;
  flex-direction: column;

  background-image: url(img/Rectangle.png);
  padding: 90px 70px;
  gap: 80px;
}

.top-text1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  font-weight: bold;
}

.top-text1 p:last-child {
  text-decoration: underline;
}

.center-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  gap: 20px;
}

.center-text p:first-child {
  font-weight: bold;
  font-size: 25px;
}

.bottom input {
  padding: 10px 40px;
  background-color: black;
  color: white;
  border-color: white;
}

.next-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;

  gap: 20px;
}

.top-text2 {
  font-size: 20px;
  font-weight: bold;
}

.global {
  display: flex;
  gap: 50px;
}

.bl1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.img2 img {
  width: 100%;
}
.text1 {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.text1 p:last-child {
  text-decoration: underline;
}

.text2 {
  font-weight: bold;
  font-size: 24px;
}
.text3 {
  font-size: 16px;
  font-weight: bold;
}

.bl2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.next-block1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  gap: 50px;
}
.block-1 {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}
.top-img img {
  width: 100%;
}
.bottom-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
}
.block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block1 p:last-child {
  text-decoration: underline;
}

.block2 {
  font-size: 20px;
}

.block1-3 {
  display: flex;
  gap: 50px;
}

.submit1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit1 input {
  background-color: black;
  border-color: black;
  color: white;
  padding: 10px 50px;
}

.next-block3 {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 20px auto;
}

.next-block3 img {
  width: 100%;
}

.imag-1 {
  width: 100%;
}

.imag-1 img {
  width: 100%;
  height: 100%;
}

.imag-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(img/Rectangle.png);
  gap: 10px;
}

.imag-2 p {
  font-size: 30px;
  color: white;
}

.input2 input {
  background-color: black;
  color: white;
  border-color: white;
  padding: 10px 30px;
}

.next-block4 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  gap: 20px;
}

.block-1 {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}
.top-img img {
  width: 100%;
}
.bottom-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: bold;
}
.block1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block1 p:last-child {
  text-decoration: underline;
}

.block2 {
  font-size: 20px;
}

.block1-3 {
  display: flex;
  gap: 50px;
}

.submit1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit1 input {
  background-color: black;
  border-color: black;
  color: white;
  padding: 10px 50px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer {
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 30px;
}

.footer p:first-child {
  font-size: 30px;
}

.footer p:last-child {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  margin-bottom: 5px;
}

@media (max-width: 1000px) {
  .img-1 {
    flex-direction: column;
  }

  .image {
    width: 100%;
  }

  .text-in-image {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .global {
    flex-direction: column;
  }

  .bl1 {
    width: 100%;
  }

  .bl2 {
    width: 100%;
  }

  .block1-3 {
    flex-direction: column;
  }

  .next-block1 {
    margin: 0 auto;
    align-items: center;
  }

  .block1-3 {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .block-1 {
    width: 75%;
  }

  .next-block3 {
    flex-wrap: wrap;
  }

  .next-block3 img {
    width: 100%;
  }

  .top-text2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

